<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midian.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- baselib -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    //android:name="com.midian.moma.app.MAppContext"
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 登陆注册库 -->
        <activity
            android:name="com.midian.login.view.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ForgetPasswordOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ForgetPasswordTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.RegisterOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.RegisterTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>


         <!-- 个人中心 -->
        <activity
            android:name="com.midian.login.view.EditPersonInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 第三方账号注册绑定 -->
        <activity
            android:name="com.midian.login.view.ThirdBindRegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 第三方账号设置密码 -->
        <activity
            android:name="com.midian.login.view.SettingPwdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseSexActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.ModifyPwdTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.ModifyPwdOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPhoneTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        //PP选址用户协议
        <activity
            android:name="com.midian.login.view.AgreementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>